<!doctype html>
<html lang="en">
    <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <% if flash[:notice] %>
        <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>
        <% end %>
        <% end %>
        <h1>Welcome <%= @user.first_name %> <%= @user.last_name %></h1>
        <a href="/users/<%= @user.id %>/edit"><u>Edit My Profile</u></a>
        <a href="/sessions/destroy" data-method="delete" >Logout</a>
        <h3>Here are some of the events at your state:</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Host</th>
                    <th>Action/Status</th>
                </tr>
            </thead>
            <tbody>
                <%= @events.each do |event| %>
                <tr>
                    <td><u><a href="/events/<%= event.id %>/show"><%= event.name %></a></u></td>
                    <td><%= event.date %></td>
                    <td><%= event.location %></td>
                    <td><%= event.state %></td>
                    <td><%= event.user.first_name %> <%= event.user.last_name %></td>
                    <td>
                        <% if event.user.id == @user.id %>
                        <a href="/users/<%= @user.id %>/edit"><u>Edit</u> </a>
                        <% end %>
                        <% if event.user.id != @user.id %>
                        <% unless @user.events_joined.include? event %>
                        <a href="/joins/<%= event.id %>"><u>Join</u> </a>
                        <%else%>
                        <a href="/joins/<%= event.id %>"  data-method="delete"><u>Cancel</u> </a></td>
                        <%end%>
                        <%end%>
                        <a href="/events/<%= event.id %>" data-method="delete"><u>Delete</u> </a>
                </tr>
                <% end %>
            </tbody>
        </table>
        <h3>Here are some of the events in other states:</h3>

        <h3>Add Event</h3>
        <form action="/events/<%= @user.id %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <span>Name: </span><input type="text" name="event[name]">
            <span>Date: </span><input type="date" name="event[date]">
            <span>Location: </span><input type="text" name="event[location]">
            <span>State: </span><select name="event[state]">
                    <option>TX</option>
                    <option>AZ</option>
                    <option>CA</option>
                    <option>NY</option>
            </select>
            <input type="submit" value="Add Event">
        </form>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>


