<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <% if flash[:notice] %>
        <% flash[:notice].each do |note| %>
            <p id="notice"><%= note %></p>
        <% end %>
        <% end %>
        <h1><a href="/users/<%= @user.id %>/edit"><%= @user.email %></a></h1>
        <a href="/sessions" data-method="delete"><u>Log Out</u></a>
        <h3>New Secret</h3>
        <form action="/secrets" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <textarea cols="16" rows="4" name="secret[content]"></textarea>
            <input type="submit" value="Create Secret">
        </form>
        
        <h1>Secrets</h1>
        <% @secrets.each do |secret| %>
        <p><a href="/secrets"><%= secret.content %></a>
        <form action="/secrets/<%= secret.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
        </p>
        <% if secret.likes.length == 1 %>
        <p><%= secret.likes.length %> like</p>
        <%else%>
        <p><%= secret.likes.length %> likes</p>
        <%end%>
        <%end%>

        <h1>Secrets Liked</h1>
        <% @likes.each do |secret| %>
        <p><a href="/secrets/<%= secret.id %>"><%= secret.content %></a></p>
        <% if secret.likes.length == 1 %>
        <p><%= secret.likes.length %> like</p>
        <%else%>
        <p><%= secret.likes.length %> likes</p>
        <%end%>
        <%end%>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
